// Media Query Breakpoints

$brk-tiny : '(max-width:767px)';

$brk-narrow : '(min-width: 768px)';

$brk-wide : '(min-width: 1024px)';

// Layout
$auto-margin : 0 auto;

//Colors

$primary-color : #f2f2f2;
$font-color: #555555;
$profile-color: #ddd;

$skill-color1 : #fa9f1b;
$skill-color2 : #3a94f2